@charset

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root{

    --cor1: #0099ab;
    --cor2: #00c2abc4;
    --cor3: #7cd63d;
    --cor4: #00e1d2ec;
    --cor5: #1C6349;

    --fonte-padrao: 'Newreader',cursive ;
    --fonte-destaque: 'Libre-Baskerville',cursive;
    --fonte-universal:Verdana, Geneva, Tahoma, sans-serif;


}

*{
    margin: 0px;
    padding: 0px;
    
}



body{
    background-color: var(--cor1);
    
}
header{
    background-image: linear-gradient(to left, var(--cor3));
    min: width 300px; ;
    max-width: 1000px ;
    margin:10px 10px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius:10px;
    
}
header h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 2em;
    /*margin: 10px 10px;
    padding:10px;*/
    text-align: center;
    
}

header p{
    font-family: var(--fonte-estilo);
    background-color: white;
    border-radius: 35px 2px;
    padding: 10px;
    text-align: center;
    font-weight: bold;

}

menu{
    background-color: var(--cor5);
    text-decoration: none;
    color: white;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    
}

menu > a{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5;
}

menu a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

#burguer{
    background-color: var(--cor4);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
    background-color: white;
    color: black;
}


main{
    min: width 300px; ;
    max-width: 1000px ;
    margin: auto ;
    margin:10px 10px 10px 10px  ;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius:10px;
}




main h1{
    color: var(--cor5);
    text-align: center;
    background-image: linear-gradient(to right, var(--cor2), transparent);
}

main h2{
    color: var(--cor4);
    background-image: linear-gradient(to bottom, var(--cor5));
    text-align: center;
    padding: 2px;
    border-radius: 0px 21px 1px 17px;
    font-size: 1.3em;
    
}

main p{
    margin:10px 10px;
    padding: 10px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main > p > strong{
    background-color: var(--cor3);
    color: whitesmoke;
    font-size: 2em;
    
}
main a {
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(to bottom var(--cor5));
    padding: 2px 6px;
    b

}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);

}

main ol{
    background-color: var(--cor5);
    color: white;
    line-height: 2em;
    margin: 10px;
    padding: 20px;
}

main ul{
    background-color: var(--cor5);
    color: white;
    line-height: 2em;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    border-top-right-radius: 25px;
}

main > p > strong {
    font-weight: bold;
    color: var(--cor1);

}


h3{
    color: ;
    background-image: linear-gradient(to left, var(--cor2));
    text-align: center;
    border-radius: 21px 0px 17px 1px ;
    padding: 2px;
    
}

div img{
    width: 320px;
    max-width: 1000px;
    padding: 10px;
    margin: auto;
    border: 1px solid #00c2abb6;
    border-radius: 15px;
    
    
}


footer {
    background-color: var(--cor3);
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 10px 15px;

}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    background-color: var(--cor1);
    color: var(--cor5);
}